body {
  justify-content: center;
  text-align: center;
  background-color: #FFAF87;
}

div.body {
  justify-content: center;
  text-align: center;
}

h1.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 500%;
}


