h2.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2.welcome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button.submit {
    background-color: rgb(227, 148, 148);
}

input.field {
    margin: 10px;
}

label.fieldLabel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

div.results {
    justify-content: center;
}

button.petButton {
    background-color: #ffae1a;
    margin: 20px;
    display: block;
    width: 30%;
    height: 20%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

div.petButtons {
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
}

div.profile {
    text-align: center;
    justify-content: center;
}