strong.songLabel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.searchResult {
    margin: 10px;
}

div.spotifyDiv {
    background-color: aliceblue;
    max-width: 700px;
}