strong.songLabel {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.searchResult {
    margin: 10px;
}

div.spotifyDiv {
    background-color: #377771;
    max-width: 1000px;
    padding: 30px;
}